.box{
    border:5px solid;
    background-color: black;
    padding:3px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
}
.display{
    background: rgb(199, 199, 199);
}
